/* ---------- root variables ---------- */
:root {
  --dark-gray: #3d403f;
  --light-gray: #9fa6a5;
  --beige: #d9cec5;
  --brown: #735b4d;
  --text-color-dark: #0d0d0d;
  --white: #fff;
  --text-color-danger: #8c0410;
  --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ---------- general styling ---------- */
html,
body {
  color: var(--text-color-dark);
  font-family: var(--font-family);
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--beige);
}
/*------page styling---------*/

div {
  padding: 1.5em;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
}

.tile {
  margin: 2em;
}

/*---------------text styling----------*/
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul,
p {
  line-height: 1.6;
}

h1 {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 0.1px;
}

h2 {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 0.1px;
  margin-left: 0em;
}

h3 {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 0.1px;
  margin-left: 0.3em;
}

a {
  color: var(--dark-gray);
}

/*-----------------------homepage styling-------------*/

img {
  margin: 1.5em;
  max-width: 7em;
}

#simple {
  display: flex;
  justify-content: space-between;
}

.project-detail {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  padding: 1.5em;
  transition: 0.5s;
  animation: fadeIn 0.5s;
  cursor: pointer;
  background-color: white;
}

.checkboxsection {
  display: flex;
  padding-left: 1.3em;
  justify-content: flex-start;
  padding-bottom: 1em;
}

#checkbox {
  padding-right: 1em;
}

.btn-sign-out {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  font-size: 0.7em;
  padding: 2.032em 1em;
}

/* ---------- main (page) styling ---------- */

main {
  animation: fadeIn 0.4s;
  /* padding equals height of tabbar and topbar */
  padding: 82px 1em;
  min-height: calc(100vh - 167px);
}

/*--------------sign in page-------------*/
.text-error {
  color: var(--text-color-danger);
}

.text-error:first-letter {
  text-transform: uppercase;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ---------- nav styling ---------- */
nav {
  background-color: var(--brown);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

/*------------- Style the links inside the navigation bar ---------------*/
nav a {
  display: inline-block;
  color: var(--beige);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* ---------Change the color of links on hover ---------- */
nav a:hover {
  background-color: var(--beige);
  color: var(--text-color-dark);
}

/* ------------Add a color to the active/current link ---------*/

nav a.active {
  background-color: var(--beige);
  color: var(--brown);
}

/* ---------- grid container styling ---------- */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

.grid-container > article {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  padding: 1.5em;
  background-color: var(--white);
  transition: 0.5s;
  animation: fadeIn 0.5s;
  cursor: pointer;
}

.grid-container > article:hover {
  box-shadow: 0 8px 16px 0 var(--brown);
  background-color: #f2f2f2;
}

.grid-container p {
  margin: 0.3em 0;
}

/* ---------- form styling ---------- */

form {
  margin: 2em auto;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 1em 1em 2em;
  background-color: var(--beige);
  max-width: 600px;
  animation: fadeIn 0.5s;
}

form button {
  padding: 12px 15px;
  font-size: 1em;
  width: 100%;
  max-width: 550px;
  margin: 1em auto;
}

button {
  display: block;
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  border: solid 2px var(--brown);
  color: var(--white);
  background-color: var(--brown);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0.5em 1em;
  font-size: 0.8em;

  margin: 1em 0 0;
}

input {
  margin: 1em auto;
  width: 100%;
  max-width: 550px;
  padding: 1em;
  box-sizing: border-box;
  display: block;
  background: var(--white);
  border: solid 2px var(--brown);
}

.image-preview {
  width: 100%;
  max-width: 350px;
  height: 200px;
  object-fit: cover;
  margin: auto;
  display: block;
  cursor: pointer;
}

form .file-input {
  display: none;
}

/* ---------- loader styling ---------- */
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  overflow: hidden;
  background: var(--loader-background-color);
  text-align: center;
}

.spinner {
  border: 5px solid var(--brown);
  border-radius: 50%;
  border-top: 5px solid var(--brown);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

/* ---------- custom select styling ---------- */
select {
  background-color: var(--light-gray);
  border: none;
  color: var(--text-color-light);
  padding: 1em;
  margin: 1em;
  max-width: 350px;
}
